<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= t('user_mailer.confirm_email') %> <%= link_to t('confirm_email_link'), confirm_email_url(@user.confirmation_token) %>
  </body>
</html>
