<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    To login to the site, just follow this link: <%= link_to 'Confirm email', confirm_email_url(@user.confirmation_token) %>
  </body>
</html>
