<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= t('user_mailer.reset_password') %> <%= link_to t('user_mailer.reset_password_link'), reset_password_form_url(@user.password_reset_token) %>
  </body>
</html>
