<div class="row-container main-description-container">
  <div class="main-description mb10">
    <h5>Locate visitors & requests by IP address</h5>
    <ul>
      <li>Easy to use</li>
      <li>Complies with the JSON:API spec</li>
      <li>Works with any programming language</li>
    </ul>
    <div class="main-description-buttons-container">
      <%= button_to "Register Now", new_user_path, method: :get %>
      <%= button_to "Documentation", docs_path, method: :get %>
    </div>
  </div>
  <%= render "partials/request_geolocation" %>
</div>
