// PADDING
.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.p10 {
  padding: 10px;
}

.px5 {
  padding-left: 5px;
  padding-right: 5px;
}

// MARGIN
.mt10 {
  margin-top: 10px;
}

.mt50 {
  margin-top: 50px;
}

.mb10 {
  margin-bottom: 10px;
}
