.user-api-keys-table {
  background-color: white;
  width: 100%;
}

.user-api-keys-table-head {
  font-size: 1.2rem;
  border-bottom: 1px solid grey;
}

.create-new-api-key-form {
  align-self: flex-end;
  margin-top: 10px;
}
