.user-api-keys-table {
  background-color: white;
  width: 100%;
}

.user-api-keys-table-head {
  font-size: 1.2rem;
  border-bottom: 1px solid grey;
}

.create-new-api-key-form {
  align-self: flex-end;
  margin-top: 10px;
}

.api-key-active {
  background-color: limegreen;
  padding-left: 5px;
  padding-right: 5px;
}

.api-key-inactive {
  color: grey;
  padding-left: 5px;
  padding-right: 5px;
}
