/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */
@import "bootstrap";
@import "font-awesome";
@import "colors/colors";

@font-face {
  font-family: 'Raleway';
  src: asset_url('raleway/Raleway-Regular.ttf');
  font-family: 'RalewaySemibold';
  src: asset_url('raleway/Raleway-SemiBold.ttf');
}

html {
  min-height: 100% !important;
}

body {
  font-family: 'RalewaySemibold';
  padding: 20px 50px;
  background-image: linear-gradient(to bottom right, $bg-main, $bg-dark);
  display: flex;
  flex-direction: column;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.code-block {
  font-family: "Courier New", Courier, monospace;
  background-color: $very-light-grey;
  margin-right: 20px;
}
