.flash-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flash-message {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.success {
  @extend .flash-message;
  background-color: lime !important;
}

.error {
  @extend .flash-message;
  background-color: red !important;
}
