@import "colors/colors";
.geolocation {
  font-family: "Courier New", Courier, monospace;
  justify-content: flex-start;
  align-self: flex-end;
  width: 400px;
  background-color: $very-light-grey;
  padding: 10px;
  margin-right: 20px;
}
